--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: day_of_week; Type: TYPE; Schema: public; Owner: docker
--

CREATE TYPE public.day_of_week AS ENUM (
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thursday',
    'Friday',
    'Saturday',
    'Sunday'
);


ALTER TYPE public.day_of_week OWNER TO docker;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Announcements; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public."Announcements" (
    "AnnouncementID" integer NOT NULL,
    "Text" character varying,
    "Time_published" timestamp without time zone,
    "AdminID" integer NOT NULL
);


ALTER TABLE public."Announcements" OWNER TO docker;

--
-- Name: Announcements_AnnouncementID_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public."Announcements_AnnouncementID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Announcements_AnnouncementID_seq" OWNER TO docker;

--
-- Name: Announcements_AnnouncementID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public."Announcements_AnnouncementID_seq" OWNED BY public."Announcements"."AnnouncementID";


--
-- Name: Courses; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public."Courses" (
    "CourseID" integer NOT NULL,
    "Course_name" character varying,
    "Course_start" time without time zone,
    "Course_end" time without time zone,
    "Day" public.day_of_week,
    "Lecturer" character varying
);


ALTER TABLE public."Courses" OWNER TO docker;

--
-- Name: Courses_CourseID_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public."Courses_CourseID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Courses_CourseID_seq" OWNER TO docker;

--
-- Name: Courses_CourseID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public."Courses_CourseID_seq" OWNED BY public."Courses"."CourseID";


--
-- Name: ForumPosts; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public."ForumPosts" (
    "PostID" integer NOT NULL,
    "Text" character varying,
    "Time_published" timestamp without time zone,
    "UserID" integer NOT NULL
);


ALTER TABLE public."ForumPosts" OWNER TO docker;

--
-- Name: ForumPosts_PostID_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public."ForumPosts_PostID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ForumPosts_PostID_seq" OWNER TO docker;

--
-- Name: ForumPosts_PostID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public."ForumPosts_PostID_seq" OWNED BY public."ForumPosts"."PostID";


--
-- Name: Groups; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public."Groups" (
    "GroupID" integer NOT NULL,
    "GroupName" character varying
);


ALTER TABLE public."Groups" OWNER TO docker;

--
-- Name: GroupsToCourses; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public."GroupsToCourses" (
    "GroupsToCourseID" integer NOT NULL,
    "CourseID" integer NOT NULL,
    "GroupID" integer NOT NULL
);


ALTER TABLE public."GroupsToCourses" OWNER TO docker;

--
-- Name: GroupsToCoursesNamesView; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public."GroupsToCoursesNamesView" AS
 SELECT g."GroupName" AS "Group_name",
    c."Course_name"
   FROM ((public."GroupsToCourses" gc
     JOIN public."Courses" c ON ((gc."CourseID" = c."CourseID")))
     JOIN public."Groups" g ON ((gc."GroupID" = g."GroupID")));


ALTER VIEW public."GroupsToCoursesNamesView" OWNER TO docker;

--
-- Name: GroupsToCourses_GroupsToCourseID_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public."GroupsToCourses_GroupsToCourseID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."GroupsToCourses_GroupsToCourseID_seq" OWNER TO docker;

--
-- Name: GroupsToCourses_GroupsToCourseID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public."GroupsToCourses_GroupsToCourseID_seq" OWNED BY public."GroupsToCourses"."GroupsToCourseID";


--
-- Name: Groups_GroupID_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public."Groups_GroupID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Groups_GroupID_seq" OWNER TO docker;

--
-- Name: Groups_GroupID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public."Groups_GroupID_seq" OWNED BY public."Groups"."GroupID";


--
-- Name: UserToGroup; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public."UserToGroup" (
    "UserToGroupID" integer NOT NULL,
    "UserID" integer NOT NULL,
    "GroupID" integer NOT NULL
);


ALTER TABLE public."UserToGroup" OWNER TO docker;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public."Users" (
    "UserID" integer NOT NULL,
    "Email" character varying NOT NULL,
    "Password" character varying NOT NULL,
    "Role" smallint NOT NULL
);


ALTER TABLE public."Users" OWNER TO docker;

--
-- Name: UsersDetails; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public."UsersDetails" (
    "UsersDetailsID" integer NOT NULL,
    "Name" character varying NOT NULL,
    "Surname" character varying NOT NULL,
    "UserID" integer NOT NULL
);


ALTER TABLE public."UsersDetails" OWNER TO docker;

--
-- Name: UserDetailsWithGroups; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public."UserDetailsWithGroups" AS
 SELECT u."Email" AS "UserEmail",
    ud."Name" AS "UserName",
    ud."Surname" AS "UserSurname",
    string_agg((g."GroupName")::text, ', '::text) AS "GroupsAssigned"
   FROM (((public."Users" u
     JOIN public."UsersDetails" ud ON ((u."UserID" = ud."UserID")))
     LEFT JOIN public."UserToGroup" utg ON ((u."UserID" = utg."UserID")))
     LEFT JOIN public."Groups" g ON ((utg."GroupID" = g."GroupID")))
  GROUP BY u."Email", ud."Name", ud."Surname";


ALTER VIEW public."UserDetailsWithGroups" OWNER TO docker;

--
-- Name: UserToGroup_UserToGroupID_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public."UserToGroup_UserToGroupID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UserToGroup_UserToGroupID_seq" OWNER TO docker;

--
-- Name: UserToGroup_UserToGroupID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public."UserToGroup_UserToGroupID_seq" OWNED BY public."UserToGroup"."UserToGroupID";


--
-- Name: UsersDetails_UsersDetailsID_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public."UsersDetails_UsersDetailsID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UsersDetails_UsersDetailsID_seq" OWNER TO docker;

--
-- Name: UsersDetails_UsersDetailsID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public."UsersDetails_UsersDetailsID_seq" OWNED BY public."UsersDetails"."UsersDetailsID";


--
-- Name: Users_UserID_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public."Users_UserID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Users_UserID_seq" OWNER TO docker;

--
-- Name: Users_UserID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public."Users_UserID_seq" OWNED BY public."Users"."UserID";


--
-- Name: Announcements AnnouncementID; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."Announcements" ALTER COLUMN "AnnouncementID" SET DEFAULT nextval('public."Announcements_AnnouncementID_seq"'::regclass);


--
-- Name: Courses CourseID; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."Courses" ALTER COLUMN "CourseID" SET DEFAULT nextval('public."Courses_CourseID_seq"'::regclass);


--
-- Name: ForumPosts PostID; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."ForumPosts" ALTER COLUMN "PostID" SET DEFAULT nextval('public."ForumPosts_PostID_seq"'::regclass);


--
-- Name: Groups GroupID; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."Groups" ALTER COLUMN "GroupID" SET DEFAULT nextval('public."Groups_GroupID_seq"'::regclass);


--
-- Name: GroupsToCourses GroupsToCourseID; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."GroupsToCourses" ALTER COLUMN "GroupsToCourseID" SET DEFAULT nextval('public."GroupsToCourses_GroupsToCourseID_seq"'::regclass);


--
-- Name: UserToGroup UserToGroupID; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."UserToGroup" ALTER COLUMN "UserToGroupID" SET DEFAULT nextval('public."UserToGroup_UserToGroupID_seq"'::regclass);


--
-- Name: Users UserID; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."Users" ALTER COLUMN "UserID" SET DEFAULT nextval('public."Users_UserID_seq"'::regclass);


--
-- Name: UsersDetails UsersDetailsID; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."UsersDetails" ALTER COLUMN "UsersDetailsID" SET DEFAULT nextval('public."UsersDetails_UsersDetailsID_seq"'::regclass);


--
-- Data for Name: Announcements; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Data for Name: Courses; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Data for Name: ForumPosts; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public."ForumPosts" ("PostID", "Text", "Time_published", "UserID") FROM stdin;
4	Dzie┼ä dobry	2024-01-26 22:00:00	3
5	Siema	2024-01-26 23:15:00	2
6	elo	2024-01-27 15:00:00	4
16	Dobry	2024-02-01 17:14:11.41132	23
17	hej	2024-02-01 17:14:49.852108	6
18	Halo	2024-02-01 17:15:06.808863	5
19	Witam	2024-02-01 17:15:24.278654	4
20	Siemaneczko	2024-02-01 17:15:40.144916	19
21	Czo┼éem	2024-02-01 17:16:18.720152	22
22	Siema, ja tu rz─ůdz─Ö jak co	2024-02-01 17:20:24.301726	11
\.


--
-- Data for Name: Groups; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public."Groups" ("GroupID", "GroupName") FROM stdin;
10	lab1
11	lab2
12	lab3
13	lab4
14	lab5
15	lab6
16	angB2
17	angC1
7	wyk┼éady
\.


--
-- Data for Name: GroupsToCourses; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public."GroupsToCourses" ("GroupsToCourseID", "CourseID", "GroupID") FROM stdin;
18	1	7
19	3	7
20	4	7
21	22	7
22	29	17
23	30	16
24	16	10
25	13	10
26	23	10
27	12	11
28	17	11
29	24	11
30	11	12
31	18	12
32	25	12
33	10	13
34	19	13
35	26	13
36	13	14
37	20	14
38	27	14
39	15	15
40	21	15
41	28	15
\.


--
-- Data for Name: UserToGroup; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public."UserToGroup" ("UserToGroupID", "UserID", "GroupID") FROM stdin;
22	2	7
23	2	14
24	2	17
25	11	7
26	11	10
27	11	16
28	6	10
29	6	16
30	6	7
31	20	12
32	20	7
33	20	17
34	23	13
35	23	7
36	23	16
37	22	12
38	22	7
39	22	17
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Data for Name: UsersDetails; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public."UsersDetails" ("UsersDetailsID", "Name", "Surname", "UserID") FROM stdin;
2	odzioo	zzz	2
4	mateusz	sarna	4
5	hubert	saw	5
6	dawid	kasz	6
8	admin	admin	11
16	Jacek	Kudrys	19
17	Maks	Wilk	20
18	Mateusz	Zaj─ůc	21
19	Krystian	Taf	22
20	Jerzy	Pajdak	23
21	Jakub	Stolarczyk	24
22	Krzysztof	Stawski	25
23	Mateusz	Petal	3
\.


--
-- Name: Announcements_AnnouncementID_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public."Announcements_AnnouncementID_seq"', 56, true);


--
-- Name: Courses_CourseID_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public."Courses_CourseID_seq"', 30, true);


--
-- Name: ForumPosts_PostID_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public."ForumPosts_PostID_seq"', 22, true);


--
-- Name: GroupsToCourses_GroupsToCourseID_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public."GroupsToCourses_GroupsToCourseID_seq"', 41, true);


--
-- Name: Groups_GroupID_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public."Groups_GroupID_seq"', 17, true);


--
-- Name: UserToGroup_UserToGroupID_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public."UserToGroup_UserToGroupID_seq"', 39, true);


--
-- Name: UsersDetails_UsersDetailsID_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public."UsersDetails_UsersDetailsID_seq"', 23, true);


--
-- Name: Users_UserID_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public."Users_UserID_seq"', 25, true);


--
-- Name: Announcements Announcements_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."Announcements"
    ADD CONSTRAINT "Announcements_pk" PRIMARY KEY ("AnnouncementID");


--
-- Name: Courses Courses_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."Courses"
    ADD CONSTRAINT "Courses_pk" PRIMARY KEY ("CourseID");


--
-- Name: ForumPosts ForumPosts_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."ForumPosts"
    ADD CONSTRAINT "ForumPosts_pk" PRIMARY KEY ("PostID");


--
-- Name: GroupsToCourses GroupsToCourses_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."GroupsToCourses"
    ADD CONSTRAINT "GroupsToCourses_pk" PRIMARY KEY ("GroupsToCourseID");


--
-- Name: Groups Groups_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."Groups"
    ADD CONSTRAINT "Groups_pk" PRIMARY KEY ("GroupID");


--
-- Name: UserToGroup UserToGroup_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."UserToGroup"
    ADD CONSTRAINT "UserToGroup_pk" PRIMARY KEY ("UserToGroupID");


--
-- Name: UsersDetails UsersDetails_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."UsersDetails"
    ADD CONSTRAINT "UsersDetails_pk" PRIMARY KEY ("UsersDetailsID");


--
-- Name: Users Users_pk; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_pk" PRIMARY KEY ("UserID");


--
-- Name: Announcements Announcements_Users_UserID_fk; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."Announcements"
    ADD CONSTRAINT "Announcements_Users_UserID_fk" FOREIGN KEY ("AdminID") REFERENCES public."Users"("UserID");


--
-- Name: ForumPosts ForumPosts_Users_UserID_fk; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."ForumPosts"
    ADD CONSTRAINT "ForumPosts_Users_UserID_fk" FOREIGN KEY ("UserID") REFERENCES public."Users"("UserID");


--
-- Name: GroupsToCourses GroupsToCourses_Courses_CourseID_fk; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."GroupsToCourses"
    ADD CONSTRAINT "GroupsToCourses_Courses_CourseID_fk" FOREIGN KEY ("CourseID") REFERENCES public."Courses"("CourseID");


--
-- Name: GroupsToCourses GroupsToCourses_Groups_GroupID_fk; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."GroupsToCourses"
    ADD CONSTRAINT "GroupsToCourses_Groups_GroupID_fk" FOREIGN KEY ("GroupID") REFERENCES public."Groups"("GroupID");


--
-- Name: UserToGroup UserToGroup_Groups_GroupID_fk; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."UserToGroup"
    ADD CONSTRAINT "UserToGroup_Groups_GroupID_fk" FOREIGN KEY ("GroupID") REFERENCES public."Groups"("GroupID");


--
-- Name: UserToGroup UserToGroup_Users_UserID_fk; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."UserToGroup"
    ADD CONSTRAINT "UserToGroup_Users_UserID_fk" FOREIGN KEY ("UserID") REFERENCES public."Users"("UserID");


--
-- Name: UsersDetails UsersDetails_Users_UserID_fk; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public."UsersDetails"
    ADD CONSTRAINT "UsersDetails_Users_UserID_fk" FOREIGN KEY ("UserID") REFERENCES public."Users"("UserID") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

