<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/registration.css">
    <title>Registration Page</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form>
                <input name="email" type="text" placeholder="email">
                <input name="username" type="text" placeholder="username">
                <input name="password" type="password" placeholder="password">
                <button>Register</button>
            </form>
        </div>
    </div>
</body>
</html>