body {
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #227C9D 0%, rgba(34, 124, 157, 0.40) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.options-container{
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    border-radius: 2.5rem;
}

button{
    border-radius: 2.5rem;
    background: radial-gradient(50% 50% at 50% 50%, #17C3B2 0%, rgba(23, 195, 178, 0.49) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 50%;
    height: 10vh;
    border: none;
    color: white;
    margin: 2em;
    font-size: 1.4em;
    cursor: pointer;  /*łapka*/
    outline: none;
}

button:hover {
    background: radial-gradient(50% 50% at 50% 50%, #128C80 0%, rgba(23, 195, 178, 0.49) 100%);
}

button:active {
    background: radial-gradient(50% 50% at 50% 50%, #128C80 0%, rgba(23, 195, 178, 0.49) 100%);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


@media only screen and (max-device-width: 420px)
{
    .container{
        flex-direction: column;
    }

    *{
        font-size: 36px;
    }

    .options-container, .logo {
        width: 100%;
    }

    form{
        margin: auto;
    }

    .logo{
        height: 25vh;
        align-items: center;
        justify-content: center;
    }

    img{
        height: 90%;
        width: 50%;
        margin-top: -10em;
    }

    button{
        width: 60%;
        height: 10vh;
        margin: 1em;
    }

}






