body {
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #227C9D 0%, rgba(34, 124, 157, 0.40) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons
{
    margin-top: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

    border-radius: 2.5rem;
}

.day-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.plan {
    margin-top: 2em;
    margin-right: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    background-color: gainsboro;
    height: 80%;
}

.course {
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

button{
    border-radius: 2.5rem;
    background: radial-gradient(50% 50% at 50% 50%, #17C3B2 0%, rgba(23, 195, 178, 0.49) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70%;
    height: 9vh;
    border: none;
    color: white;
    margin: 1em;
    font-size: 1.4em;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: radial-gradient(50% 50% at 50% 50%, #128C80 0%, rgba(23, 195, 178, 0.49) 100%);
}

button:active {
    background: radial-gradient(50% 50% at 50% 50%, #128C80 0%, rgba(23, 195, 178, 0.49) 100%);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


@media only screen and (max-device-width: 420px)
{
    *{
        font-size: 30px;
    }
    .container{
        flex-direction: column-reverse;
        margin: auto;
    }
    .plan
    {
        margin: 2em 1em 1em;
        height: 80%;
        width: 85%;
    }
    .buttons
    {
        margin: auto;
        height: 12%;
        width: 80%;
    }
    button {
        width: 70%;
    }
    .course {
        border: 1px solid #000;
        border-radius: 5px;
    }
}